:root {
  --calc-height: calc(100vh - 72px);
  overflow-x: hidden;  
  
}

main {
  min-height: var(--calc-height);
  gap: 10rem;
}

.sub {
  gap: var(--xxxl);
}

.app {
  display: flex;
  gap: var(--base);
  align-items: center;
}

.circle {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

.center {
  min-height: var(--calc-height);
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
}

/* hero */

.hero {
  padding: var(--base);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--base);
}

.hero > p {
  max-width: 40ch;
}

/* works */

.works {
  justify-items: center;
}

.works div {
  place-items: center;
  gap: var(--md);
}

.scroll-line {
  display: none;
}

/* testimonials */
.testimonials {
  gap: var(--xxxl);
  text-align: center;
}

.testimonial {
  padding: var(--xxxl);
}

.quote {
  padding: var(--xl);
  box-shadow: var(--shadow-2xl);
  position: relative;
  z-index: 10;
}
.name {
  padding: var(--base);
  background: var(--primary);
  width: fit-content;
  margin: 0 auto;
}
.title {
  text-transform: uppercase;
  font-size: var(--heading-4);
}
.testimonial:nth-child(1) img {
  border-bottom-right-radius: var(--lg);
  border-top-left-radius: var(--lg);
}
.testimonial:nth-child(2) img {
  border-top-right-radius: var(--lg);
  border-bottom-left-radius: var(--lg);
}

.download {
  justify-items: center;
  gap: var(--xxxl)
}

@media (min-width: 1024px) {
  .works {
    justify-items: center;
    position: relative;
  }
  .works div {
    width: 50%;
  }
  .works div:nth-child(1),
  .works div:nth-child(3) {
    justify-self: start;
  }
  .works div:nth-child(2),
  .works div:nth-child(4) {
    justify-self: end;
  }
  .scroll-line {
    display: grid;
    position: absolute;
    top: 5%;
  }
  .testimonials {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial:nth-child(1) {
    grid-template-columns: auto 1fr;
  }

  .testimonial:nth-child(2) {
    grid-template-columns: 1fr auto;
  }
}
