/* *Font Import* */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  /* VARIABLES */
  /* *Colors* */
  --accent: #30D6B0;
  --primary: #ffe202;
  --secondary: #5FA1D5;
  --gradient1: #072141;
  --gradient2: #020c17;
  --error: #FE8668;
  --success: #51B960;
  --black: #000000;
  --white: #ffffff;

  /* *Containers* */
  --width: 80vw;
  --max-width: 2000px;
  --center-column: min(80ch, calc(100vw - 1rem));

  /* *Font Family* */
  --font-heading: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* *Font Size* */
  --heading-1: clamp(1.5rem, 2rem + 2vw, 4rem);
  --heading-2: clamp(1.75rem, 1.75rem + 2vw, 3.5rem);
  --heading-3: clamp(1.5rem, 1.5rem + 2vw, 3rem);
  --heading-4: clamp(1rem, 1rem + 2vw, 2.5rem);
  --text-lg: clamp(1.25rem, 1.25 + 1vw, 2rem);
  --text-base: clamp(1rem, 1rem + 1vw, 1.5rem);
  --text-sm: clamp(0.75rem, 0.75rem + 1vw, 1rem);

  /* *Letter Spacing* */
  --tight: -2px;
  --none: 0px;
  --loose: 2px;
  --wide: 8px;

  /* *Rounded (Border-radius)* */
  --rounded-full: 100%;
  --rounded-pill: 50px;
  --rounded-lg: 1rem;
  --rounded-md: 0.5rem;
  --rounded-sm: 0.25rem;

  /* *Shadows* */
  --shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
  --shadow-active: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 7px 0 rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-md:  0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0,0,0,0.04);
  --shadow-lg: 0 16px 24px 0 rgba(0,0,0,0.06), 0 2px 6px 0 rgba(0,0,0,0.04), 0 0 1px 0 rgba(0,0,0,0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-outline: 0 0 0 2px var(--accent);

  /* *Spacing* */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --base: 1rem;
  --md: 1.5rem;
  --lg: 1.75rem;
  --xl: 2rem;
  --xxl: 2.5rem;
  --xxxl: 3rem;

  /* *Transition* */
  --transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  /* *Intentions* */
  --bg-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--accent);
}

/* *Scrollbar* */
:root {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--black);
}

:root::-webkit-scrollbar {
  width: 8px;
}
:root::-webkit-scrollbar-track {
  background: var(--black);
}
:root::-webkit-scrollbar-thumb {
  background: var(--primary);
}
:root::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

/* *Layout* */
body {
  scroll-behavior: smooth;
  letter-spacing: var(--none);
  background: var(--bg-color);
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
}

header {
  padding: var(--base);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: var(--xxxl);
}
.wrap {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* *Links and Buttons* */
:focus {
  outline: none;
}

button:focus,
input[type='submit']:focus {
  box-shadow: var(--shadow-outline);
}

button {
  background: var(--btn-bg);
  color: var(--white);
  padding: var(--base);
  border-radius: var(--rounded-pill);
  border: none;
  box-shadow: var(--shadow-lg);
  transition: var(--transition);
  cursor: pointer;
}

button:hover {
  filter: var(--btn-hover);
  box-shadow: var(--shadow-sm);
}

button[role='button'] {
  color: var(--white);
}

button[role='button']::before {
  background: transparent;
}

/* *Footer Styles* */
footer {
  display: flex;
  justify-content: center;
}

/* *Text* */
.accent-text {
  color: var(--accent);
  letter-spacing: var(--loose);
  font-weight: 800;
}

.body-text {
  font-family: var(--font-body);
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  font-family: var(--font-heading);
  font-weight: semibold;
  line-height: 1.5;
}

h2, h3 {
  text-align: center;
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

.text-sm {
  font-size: var(--text-sm);
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}